<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="bg-dark text-white p-2 text-lg-left">
        <span class="navbar-brand ml-2">Jonah's Books</span>
        <vc:cart-summary/>
    </div>
    @RenderBody()
    <footer class="footer bg-dark text-white text-center">Copyright Jonah Duffin 2021 (Not Really) |  <a class="text-white red-link" href="http://jonahduffin.com/">Check out my website</a></footer>
</body>
</html>
