@{
    ViewData["Title"] = "Jonah's Books";
}

@model BookListViewModel

<div class="text-center">
    <h1 class="display-4">Welcome to Jonah's Books!</h1>
  
</div>

<div class="test-center">
    <p class="text-center">We started with 10 humble book recommendations from my IS 413 professor, Spencer Hilton. We're growing every week! Enjoy your stay.</p>
</div>

<div class="row p-3">
    <div class="col-2">
        <vc:navigation-menu />
    </div>

    <div class="col-10">
            <table class="table table-dark">
                <thead class="thead-dark">
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Publisher</th>
                        <th>ISBN</th>
                        <th>Classification/Category</th>
                        <th>Price</th>
                        <th># of Pages</th>
                        <th>Add to Cart</th>
                    </tr>
                </thead>
                @foreach (var book in Model.Books)
                {
                    <partial name="BookSummary" model="book" />
                }
            </table>
            <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn" page-class-normal="btn-dark" page-class-selected="btn-light" page-url-category="@Model.CurrentCategory" class="btn-group pull-right m-1"></div>
    </div>
</div>
